<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Nuevo" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Eliminar" icon="pi pi-trash" outlined (onClick)="deleteSelectedRatePlans()"
            [disabled]="!selectedRatePlans || !selectedRatePlans.length" />
    </ng-template>

    <ng-template #end>
        <p-button label="Exportar" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>
<p-table #dt [value]="ratePlans()" [rows]="10" [columns]="cols" [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="selectedRatePlans" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} tarifarios" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]">
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Mantenimiento de tarifarios</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th style="min-width: 16rem">Código</th>
            <th pSortableColumn="name" style="min-width:16rem">
                Nombre
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="price" style="min-width: 8rem">
                Dirección
                <p-sortIcon field="price" />
            </th>
            <th pSortableColumn="category" style="min-width:10rem">
                Tipo de documento
                <p-sortIcon field="category" />
            </th>
            <th pSortableColumn="rating" style="min-width: 12rem">
                Número de documento
                <p-sortIcon field="rating" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-customer>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="customer" />
            </td>
            <td style="min-width: 12rem">{{ customer.id }}</td>
            <td style="min-width: 16rem">{{ customer.name }}</td>
            <td>{{ customer.address }}</td>
            <td>{{ customer.documentType }}</td>
            <td>{{ customer.documentNumber }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                    (click)="editProduct(customer)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                    (click)="deleteProduct(customer)" />
            </td>
        </tr>
    </ng-template>
</p-table>


<p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Detalles del cliente" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="name" class="block font-bold mb-3">Nombre</label>
                <input type="text" pInputText id="name" [(ngModel)]="customer.name" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !customer.name">Name is required.</small>
            </div>

            <div>
                <label for="address" class="block font-bold mb-3">Dirección</label>
                <input type="text" pInputText id="address" [(ngModel)]="customer.address" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !customer.address">Name is required.</small>
            </div>

            <div>
                <label for="contact" class="block font-bold mb-3">Contacto</label>
                <input type="text" pInputText id="contact" [(ngModel)]="customer.contact" required autofocus fluid />
            </div>

            <div>
                <label for="contact-position" class="block font-bold mb-3">Cargo contacto</label>
                <input type="text" pInputText id="contact-position" [(ngModel)]="customer.contactPosition" required autofocus fluid />
            </div>

            <div>
                <label for="email" class="block font-bold mb-3">Correo</label>
                <input type="email" pInputText id="email" [(ngModel)]="customer.email" required autofocus fluid />
            </div>

            <div>
                <label for="cellphone" class="block font-bold mb-3">Celular</label>
                <input type="text" pInputText id="cellphone" [(ngModel)]="customer.cellphone" required autofocus fluid />
            </div>

            <div>
                <label for="document-type" class="block font-bold mb-3">Tipo de documento</label>
                <p-select [(ngModel)]="customer.documentType" inputId="document-type" [options]="documentTypes"
                    optionLabel="label" optionValue="label" placeholder="Seleccione un tipo de documento" fluid />
            </div>

            <div>
                <label for="document-number" class="block font-bold mb-3">Número de documento</label>
                <input type="text" pInputText id="document-number" [(ngModel)]="customer.documentNumber" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !customer.name">Name is required.</small>
            </div>

            <div>
                <label for="observations" class="block font-bold mb-3">Observaciones</label>
                <textarea id="observations" pTextarea [(ngModel)]="customer.observations" required rows="3" cols="20" fluid></textarea>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Guardar" icon="pi pi-check" (click)="saveCustomer()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />