<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Nuevo" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Eliminar" icon="pi pi-trash" outlined (onClick)="deleteSelectedRatePlans()"
            [disabled]="!selectedRatePlans || !selectedRatePlans.length" />
    </ng-template>

    <ng-template #end>
        <p-button label="Exportar" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>
<p-table #dt [value]="ratePlans()" [rows]="10" [columns]="cols" [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="selectedRatePlans" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} tarifarios" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]">
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Mantenimiento de tarifarios</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th style="min-width: 16rem">Id Tipo Servicio</th>
            <th pSortableColumn="name" style="min-width:16rem">
                Tipo de servicio
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="price" style="min-width: 8rem">
                Id Categoria Servicio
                <p-sortIcon field="price" />
            </th>
            <th pSortableColumn="category" style="min-width:10rem">
                Categoria Servicio
                <p-sortIcon field="category" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-pricing>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="pricing" />
            </td>
            <td style="min-width: 12rem">{{ pricing.serviceTypeId }}</td>
            <td style="min-width: 16rem">{{ pricing.serviceTypeDescription }}</td>
            <td>{{ pricing.categoryTypeId }}</td>
            <td>{{ pricing.categoryTypeDescription }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                    (click)="editProduct(pricing)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                    (click)="deleteProduct(pricing)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-confirmdialog [style]="{ width: '450px' }" />